* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

main {
    margin-top: 0;
}

h1 {
    color: #222;
    font-family: sans-serif;
    font-weight: bold;
}