* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #222;
    padding: 40px 0;
}

.product-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    gap: 40px;
    border: 1px solid #ccc;
}

.product-image-box {
    width: 50%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.12);
}

.product-image-box img {
    width: 100%;
    display: block;
    transition: .35s;
}

.product-image-box:hover img {
    transform: scale(1.05);
}

.product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.product-name {
    font-size: 28px;
    font-weight: 700;
}

.product-price {
    font-size: 22px;
    font-weight: 600;
    color: #555;
}

.product-detail-list p {
    margin-bottom: 6px;
    font-size: 14px;
}

.add-cart-btn,
.buy-now-btn {
    padding: 12px 18px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    margin-top: 15px;
    transition: .2s;
}

.btn {
    margin-bottom: 20px;
}

/* ปุ่มตะกร้า */
.add-cart-btn {
    background: #222;
    color: #fff;
}

.add-cart-btn:hover {
    background: #444;
}

/* ปุ่มซื้อทันที */
.buy-now-btn {
    background: #eee;
    color: #222;
    border: 1px solid #ccc;
}

.buy-now-btn:hover {
    background: #ddd;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        width: 90%;
    }

    .product-image-box,
    .product-info {
        width: 100%;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .product-image-box img {
        aspect-ratio: 4 / 3;
    }
}

@media (max-width: 1024px) {
    .product-container {
        flex-direction: column;
        width: 90%;
    }

    .product-image-box img {
        aspect-ratio: 4 / 3;
    }

    .product-image-box {
        width: 100%;
    }

    .btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}